// fonts
$font-main: 'Almendra', sans-serif;
$font-second: 'Almendra', sans-serif;
$font-third: 'Almendra', sans-serif;

// colors

$darkbrown: #462a05;
$sand: #ecb96e;
$lightbrown: #f6e3b4;
$white: #d5d5d5;
$white-two: #ffffff;
$white-four: #f5f5f5;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$light-khaki: #f9f4dc;
$light-grey-blue: #a0c0cf;
$hospital-green: #a2deaf;
$dirty-blue: #438792;
$azure: #00a0f5;
$dark-green-blue: #114e4e;
$gunmetal: #54585a;
$brownish-grey: #6b6b6b;
$slate: #3e5b65;
$faded-orange: #eab052;
$dull-orange: #e17334;
$tomato: #e95626;
$dried-blood: #420101;
$rusty-red: #bd1010;
$black: #000;
$black-20: rgba(0, 0, 0, 0.2);
$black-shadow: rgba(0, 0, 0, 0.35);
